html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #5DADE2;
}

pad {
  backgroun-color: #5DADE2;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #6BE25D;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #E2925D;
  text-shadow: 1px 1px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
